<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equive='X-UA-Compatible' content='IE=edge'>
    <title>Vote Now</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body class="page">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/home.css' %}">
    <form action="" method="POST" class="form">
        {% csrf_token %}
        <input type="text" name="username" placeholder="UserName"> <br>
        <input type="password" name="password" placeholder="Password"> <br>
        <button>Login</button>
        <div>
            {% for message in messages %}
            <h3>{{ message }}</h3>
            {% endfor %}   
        </div>  
        
    </form>
</body>
</html>